<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Simple File Uploader....</h1>

    <form
      action="{{url_for('upload')}}"
      id="id"
      method="POST"
      enctype="multipart/form-data"
    >
      <input
        type="file"
        name="imgfile"
        id=""
        accept="image/*;video/*"
        multiple
      />
      <button type="submit">Send Images</button>
    </form>

    <hr />

    <h1>Large File Uploader....</h1>

    <form
      action="{{url_for('uploadLargeFiles')}}"
      id="id"
      method="POST"
      enctype="multipart/form-data"
    >
      <input type="file" name="vidfile" id="" accept="video/*" multiple />
      <button type="submit">Send Video</button>
    </form>
  </body>
</html>
